#bg {
    background-color: #f4eeed !important;
}

h1,
h3,
h6 {
    color: #d8ac9c;
}

.para {
    color: #999b84;
}

.btnBg {
    background-color: #d8ac9c !important;
}

.btnBg:hover {
    -ms-transform: scale(1.1);
    /*IE9*/
    -webkit-transform: scale(1.1);
    /*Safari3-8*/
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

body {
    background: rgb(99, 39, 120);
    ;
}

.alert {
    background-color: #efd9d1 !important;
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}