<body>
    <div class="w-100" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class=" col-md-1">
                    <div class="card login-form">
                        <div class="card-body">
                            <h3 class="card-title text-center">Change password</h3>

                            <!--Password must contain one lowercase letter, one number, and be at least 8 characters long.-->

                            <div class="card-text">
                                <form [formGroup]="editPassForm">
                                    <div class="alert alert-dismissible fade show" role="alert">
                                        Password must contain one lowercase letter, one number, and be at least 8 characters long.
                                        <!-- <a class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </a> -->
                                    </div>
                                    <div class="form-group">
                                        <label for="oldPassword" class="para">Old password</label>
                                        <input type="password" class="form-control form-control-sm" formControlName="password" #oldPassword name="oldPassword" (keyup)="writeOldPass()">

                                        <div name="validations" *ngIf="editPassForm.invalid">
                                            <span class="text-danger" *ngIf="editPassForm.controls.password.errors?.required">password is
                                         required</span>
                                            <span class="text-danger" *ngIf="editPassForm.controls.password.errors?.maxlength">password characters
                                         exceeded maximum length of 20</span>
                                            <span class="text-danger" *ngIf="editPassForm.controls.password.errors?.minlength">password characters
                                          are less than 8 characters</span>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="newPassword" class="para">Your new password</label>
                                        <input type="password" class="form-control form-control-sm" formControlName="newPassword" #newPassword name="newPassword" (keyup)="checknewPassConf(newPassword,confirmPassword)">

                                        <div name="validations" *ngIf="editPassForm.invalid">
                                            <span class="text-danger" *ngIf="editPassForm.controls.newPassword.errors?.required">new password is
                                        required</span>
                                            <span class="text-danger" *ngIf="editPassForm.controls.newPassword.errors?.maxlength">password characters
                                         exceeded maximum length of 20</span>
                                            <span class="text-danger" *ngIf="editPassForm.controls.newPassword.errors?.minlength">password characters
                                        are less than 8 characters</span>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="confirmPassword" class="para">Confirm password</label>
                                        <input type="password" class="form-control form-control-sm" #confirmPassword name="confirmPassword" (keyup)="checknewPassConf(newPassword,confirmPassword)">
                                    </div>
                                    <div *ngIf="newPassword.value">

                                        <h5 [ngClass]="{'text-danger':!checkConfirmPass,'text-success':checkConfirmPass}" class="my-5">
                                            {{newPasswordMatch}}
                                        </h5>
                                    </div>
                                    <h5 class="text-danger">{{ErrorMsg}}</h5>

                                    <!-- <button type="submit" class="btn btn-primary btn-block submit-btn">Confirm</button> -->
                                    <input value="Back to profile" type="button" class="btn btnBg" name="backBtn" (click)="navigateProfile()">


                                    <input [disabled]="!checkConfirmPass||editPassForm.invalid" type="button" name="confirm" class="btn btnBg mx-3" value="confirm" (click)="confirm(oldPassword,newPassword)">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="d">
            <h1>

            </h1>
        </div>
    </div>
</body>