<div class="text-center">


    <div class="alert" style="background-color: rgb(216,172,156);">

        <h5>You shoud login first with your account. click on button Login.</h5>
        <input type="button" value="Login" class="btn btn-danger mx-3" (click)="navigateLogin()">
    </div>
    <div class="alert" style="background-color: rgb(239,217,209);">
        <h5>If you don't have account. click on button Register to create account. Then login</h5>
        <input type="button" value="Register" class="btn btn-danger mx-3" (click)="navigateRegister()">

    </div>

</div>